@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Josué Acuña</h1>
    <h2>Soy un desarrollador FullStack especializado en tecnologías .NET y JavaScript</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Josué Acuña" />
</div>
